@import url('animation.css');
@import url('mediaqueries.css');

html{
    font-family:
        -apple-system,
        system-ui,
        Segoe UI,
        Noto Sans,
        Helvetica,
        Arial,
        sans-serif;

}
.nav-background{
    background-color: #304ffe;

}
.primary-background{
    background-color:#3D5AFE!important;

}
 .banner-background {
                clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 91%, 78% 98%, 51% 90%, 0 100%, 0 0);
            }
           

.custom-left-margin {
    margin-left: 50px; /* Initial margin for large screens */
    margin-right: 50px; /* Initial margin for large screens */
    transition: margin-left 0.3s; /* Smooth transition */
}


.btns{
    margin-top: 40px;
    /*margin-bottom: -30px;*/
}

.fade-in {

    animation: fadeIn 2s ease-in-out;
}


.card-container{
    margin-top:20px;
}


/*login and signup page*/
#passwordEye {
    cursor: pointer;
    color: #007bff; /* Default color */
    font-size: 18px; /* Adjust size as needed */
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for color and size change */
}

#passwordEye:hover {
    color: #0056b3; /* Color on hover */
}
#passwordEye.pulsing {
    animation: pulse 1s infinite;
}



/*for navbar contents*/

#navbarSupportedContent {
    margin-left: 80px;
}

#navbarSupportedContent ul li {
    font-weight: 700;
    font-size: 16px;
    padding: 0px 25px;
}
