

html{
    font-family:
        -apple-system,
        system-ui,
        Segoe UI,
        Noto Sans,
        Helvetica,
        Arial,
        sans-serif;

}



.nav-background{
    background-color: #304ffe;

}
.primary-background{
    background-color:#3D5AFE!important;

}

/*for backgroud opf page*/
.banner-background {
    clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 91%, 78% 98%, 51% 90%, 0 100%, 0 0);
}




/* Ensure the items (profile and logout) are highlighted and clear */
#userloginout .navbar-nav .nav-item .nav-link {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px !important;
}

#userloginout .navbar-nav .nav-item {
    margin-right: 20px;
    margin-bottom: 0; /* Add this line to ensure no extra space at the bottom */
    padding-bottom: 0; /* Add this line to ensure no extra padding at the bottom */
}

/* Adjust margin to reduce space between list items */
#userloginout .navbar-nav .nav-item + .nav-item {
    margin-left: -30px; /* Adjust this value as needed */
}

#userloginout .navbar-nav .nav-item .nav-link:hover {
    color: #fba7a7;
    transform: scale(1.1);
    text-decoration: none;
}



/*profile image*/
#profileimg{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}


/*for navbar contents*/
#navbarSupportedContent {
    margin-left: 80px;
}

#navbarSupportedContent ul li {
    font-weight: 700;
    font-size: 16px;
    padding: 0px 25px;
}




/*css for the addpostmodal to display icon infron of selected category name*/ 

        .custom-dropdown {
            position: relative;
            display: inline-block;
            width: 100%;
        }
        .dropdown-display {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            border: 1px solid #ced4da;
            border-radius: 4px;
            background-color: #fff;
            cursor: pointer;
        }
        .dropdown-list {
            display: none;
            position: absolute;
            z-index: 1;
            background-color: #fff;
            border: 1px solid #ced4da;
            border-radius: 4px;
            width: 100%;
            max-height: 200px;
            overflow-y: auto;
        }
        .dropdown-list div {
            padding: 10px;
            cursor: pointer;
        }
        .dropdown-list div:hover {
            background-color: #f1f1f1;
        }
        .dropdown-list img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
    